brotlipy==0.7.0
cloudpickle==3.0.0
contourpy==1.2.1
cycler==0.12.1
Farama-Notifications==0.0.4
fonttools==4.53.1
gym-notices==0.0.8
gymnasium==1.0.0a2
joblib==1.4.2
kiwisolver==1.4.5
matplotlib==3.9.1
mpmath==1.2.1
Pillow==9.3.0
pygame==2.6.0
pyparsing==3.1.2
scikit-learn==1.5.1
scipy==1.14.0
Shimmy==2.0.0
threadpoolctl==3.5.0
torch==2.1
torchaudio==2.1
torchvision==0.16

